a {
  color: black;
}

p {
  font-weight: lighter;
}

span {
  font-weight: lighter;
  font-palette: dark;
}

button {
  font-weight: lighter;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.background {
  height: 170px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div.icon-class {
  margin-left: 10px;
  margin-top: 5px;
}
