<div class="alt-background">
  <div class="container">
    <p><b>Features</b></p>
    <button style="color: black;" (click)="onSelectPage('home')" mat-button>Home</button>
    <button style="color: black;" (click)="onSelectPage('backtesting')" mat-button>Backtesting</button>
    <button style="color: black;" (click)="onSelectPage('trading-bot')" mat-button>Automation</button>
  </div>
  <div class="container">
    <p><b>Misc.</b></p>
    <button style="color: black;" (click)="onSelectPage('pricing')" mat-button>Pricing</button>
    <button style="color: black;" (click)="onSelectPage('contact')" mat-button>Contact</button>
    <button style="color: black;" (click)="onDisclaimer()" mat-button>Disclaimer</button>
  </div>
  <div class="container">
    <p><b>Contact</b></p>
    <div id="container">
      <div class="icon-class">
        <a href="mailto:contact&#64;chartologist.syngleton.co">
          <sycm-custom-icon iconName=envelope></sycm-custom-icon>
        </a>
      </div>
      <div class="icon-class">
        <a href="https://www.linkedin.com/in/luc-metz-b2245974/" target="_blank">
          <sycm-custom-icon iconName=linkedin></sycm-custom-icon>
        </a>
      </div>
      <div class="icon-class">
        <a href="https://github.com/mactepluke" target="_blank">
          <sycm-custom-icon iconName=github></sycm-custom-icon>
        </a>
      </div>
    </div>
  </div>
</div>
