<div class="block-container">
  @if (textFirst) {
    <div class="block">
      <div>
        <div class="right-text-margin">
        <h2>{{ content.title }}</h2>
        <p>{{ content.firstParagraph }}</p>
        <p>{{ content.secondParagraph }}</p>
        <p>{{ content.thirdParagraph }}</p>
        </div>
      </div>
    </div>
    <div class="icon-block">
      <sycm-custom-icon [color]="iconColor" [iconName]="content.iconName" [scale]="5"></sycm-custom-icon>
    </div>
  } @else {
    <div class="icon-block">
      <sycm-custom-icon [color]="iconColor" [iconName]="content.iconName" [scale]="5"></sycm-custom-icon>
    </div>
    <div class="block">
      <div class="left-text-margin">
        <h2>{{ content.title }}</h2>
        <p>{{ content.firstParagraph }}</p>
        <p>{{ content.secondParagraph }}</p>
        <p>{{ content.thirdParagraph }}</p>
      </div>
    </div>
  }
</div>

