p {
  font-weight: lighter;
  line-height: 1.5;
}

mat-icon  {
  transform: scale(8);
}

div.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  overflow: hidden;
}

.text-margins {
  margin-left: 30px;
  margin-right: 30px;
}

div.right-text-margin {
  margin-right: 30px;
}

div.left-text-margin {
  margin-left: 30px;
}

@media (hover: none) {
  div.right-text-margin {
    margin-left: 30px;
  }

  div.left-text-margin {
    margin-right: 30px;
  }

  div.block-container {
    margin-bottom: 20px;
  }
}

div.block-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

