<mat-card [formGroup]="form">
  <mat-card-header>
    <mat-card-title>Trading Simulation Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Markets</mat-label>
      <mat-select formControlName="market">
        @for (market of markets; track market) {
          <mat-option [value]="market.value">{{ market.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Symbols</mat-label>
      <mat-select formControlName="symbol">
        @for (symbol of symbols; track symbol) {
          <mat-option [value]="symbol.value">{{ symbol.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Timeframes</mat-label>
      <mat-select formControlName="timeframe">
        @for (timeFrame of timeFrames; track timeFrame) {
          <mat-option [value]="timeFrame.value">{{ timeFrame.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field formGroupName="range">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
        <input formControlName="start" matStartDate
               placeholder="Start date">
        <input formControlName="end" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle [for]="picker" matIconSuffix>
      </mat-datepicker-toggle>
      <mat-date-range-picker #picker [startAt]="minDate"></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Account balance</mat-label>
      <input class="right-align" matInput placeholder="0" type="number" formControlName="balance">
      <span matTextSuffix>.00 </span>
      <span matTextSuffix>$&nbsp;</span>
    </mat-form-field>

    <button (click)="onRunBacktesting()" color="primary" mat-raised-button>Run</button>

  </mat-card-content>
</mat-card>
