<p>Trading securities or cryptocurrencies carry a high degree of risk
  and you can lose more than your initial deposit or even your life savings.
  Any opinions, chats, charts, messages, news, research, analyses, prices,
  or other information contained in this application and/or website are provided as general market information for entertainment purposes only.
  They do not constitute investment advice in any way, shape or form.</p>
<p>The application and website of Syngleton should not be relied upon as a substitute for
  extensive independent market research when making your actual trading decisions.</p>
<p>Syngleton will not accept liability for any loss or damage, including without limitation any loss of profit,
  which may arise directly or indirectly from use of or reliance on such information provided here within.
  We do not recommend the use of technical analysis as a sole means of trading decisions.
  You should always understand that past performance isn’t indicative of future results.</p>
