<div class="page-elements">

  <div class="container">
      <h1 class="inverse-fade-one small">Equip like a pro</h1>
      <h1 class="inverse-fade-one big custom-color">Trade like a machine</h1>
    <div class="inverse-fade-two">
      <p>Chartologist is a trading robot that monitors the market in real time and provides you with the best buy or
        sell signal.</p>
      <p>
        Unlike most trading indicators, it leverages powerful machine learning algorithms that detect recurring patterns
        in price action.
      </p>
    </div>
  </div>

  <sycm-story-block class="inverse-fade-three" [textFirst]="false" [content]="firstBlockContent"
                    iconColor="primary"></sycm-story-block>
  <sycm-story-block class="inverse-fade-three" [textFirst]="true" [content]="secondBlockContent"
                    iconColor="accent"></sycm-story-block>
  <sycm-story-block class="inverse-fade-three" [textFirst]="false" [content]="thirdBlockContent"
                    iconColor="primary"></sycm-story-block>
</div>


