.background {
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  opacity: 0.5;
  object-fit: cover;
  filter: saturate(0.7);
}

@media (hover: hover) {
  .app-title {
    font-size: 4rem;
    font-family: Anta, sans-serif;
  }
}

@media (hover: none) {
  .app-title {
    font-size: 2rem;
    font-family: Anta, sans-serif;
  }
}

@media (hover: hover) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 200px;
  }
}

@media (hover: none) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 200px;
  }
}

@media (hover: none) {
  .icon {
    width: 70px;
  }
}

@media (hover: hover) {
  .icon {
    width: 100px;
  }
}

.buttons {
  width: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@keyframes inverse-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.inverse-fade-one {
  animation: inverse-fade 1s ease-in-out forwards;
}

.inverse-fade-two {
  animation: inverse-fade 2s ease-in-out forwards;
}

.animate-cursor {
  position: relative;
  display: inline-block;
}

.animate-cursor::after {
  content: '_';
  position: absolute;
  bottom: 0;
  left: 100%;
  margin-left: 0.1em;
  opacity: 0;
  animation: cursor-animation 1s infinite;
}

@keyframes cursor-animation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
