<div class="background">
  <img alt="The Chartomancer" fill ngSrc="assets/desert_candles.jpg">
  <div class="overlay">
    <div class="container">
      <sycm-app-icon class="icon" iconName="APP_ICON"></sycm-app-icon>
      <span [textContent]="(environment.app_name | titlecase) + '_'" class="app-title" id="title"></span>
    </div>
    <h1>A powerful machine learning tool <br>that deciphers the past to help you trade the future.</h1>
    <button (click)="onGetStared()" class="buttons" color="primary" mat-flat-button>Get started</button>
  </div>
</div>
