.background {
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  opacity: 0.5;
  object-fit: cover;
  filter: saturate(0.7);
}

.app-title {
  font-size: 4rem;
  font-family: Anta, sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 200px;
}

.icon {
  width: 100px;
}

.buttons {
  width: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
