mat-card {
  margin-bottom: 30px;
  width: 400px;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  justify-items: center;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

mat-card-actions.login-actions  {
  margin-top: 10px;
}

mat-card-actions.new-users-actions  {
  margin-top: 70px;
}

.items {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

div.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  margin-left: 15px;
}


.classic-buttons  {
  width: 300px;
}

.mat-divider {
  height: 0;
  width: 100% !important;
  position: inherit !important;
}

#login-button {
  margin-top: 18px;
}
