<div class="container">
  <mat-card [formGroup]="form">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Enter your unique email and password:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="items">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field class="items">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button id="login-button" class="classic-buttons" mat-raised-button color="primary" [disabled]="form.invalid" (click)="onLogin()">
          Log In
        </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>New Users</mat-card-title>
      <mat-card-subtitle>Create a new account and benefit from:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="items">
        <mat-icon>lock_open</mat-icon>
        <p>An access to <b>all features</b></p>
      </div>
      <mat-divider></mat-divider>

      <div class="items">
        <mat-icon>notification_important</mat-icon>
        <p><b>Notifications</b> about future updates</p>
      </div>
      <mat-divider></mat-divider>
      <div class="items">
        <mat-icon>settings_brightness</mat-icon>
        <p><b>Custom</b> account settings</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="classic-buttons" routerLink="../create-account" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true }"
              mat-raised-button color="primary">Create an Account
      </button>
    </mat-card-actions>

  </mat-card>
</div>


