mat-card-content  {
  font-weight: lighter;
  margin-top: 5px;
}

mat-card  {
  margin-top: 20px;
}

p {
  line-height: 1.7;
  font-weight: lighter;
  font-size: 1rem;
}

#page-container {
  min-height: 700px;
}

#title {
  margin: 20px 20px 20px 20px;
}
