<div id="page-container">

  <div class="title-block">
    <sycm-dual-title [dualTitle]="dualTitle" swapTitles="true"></sycm-dual-title>
  </div>
  <div id="page-elements">
    <mat-card class="inverse-fade-one">
      <mat-card-header>
        <mat-card-title>Basic
        </mat-card-title>
        <mat-card-subtitle>
          Dip your toes into trading
        </mat-card-subtitle>
      </mat-card-header>
      <h1><span>€ </span>9.99 <span>(monthly)</span></h1>
      <mat-card-content>
        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Subscribe up to <b>3</b> assets</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Real-time signals by email</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="warn" iconName="close_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Real-time signals by SMS</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="warn" iconName="close_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Automation with custom settings</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="warn" iconName="close_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Automation with pro-level settings</span>
        </div>
      </mat-card-content>
      <button (click)="onGetPlan('basic')" mat-raised-button color="primary" type="submit">Get now</button>
    </mat-card>

    <mat-card class="inverse-fade-two">
      <mat-card-header>
        <mat-card-title>Advanced
        </mat-card-title>
        <mat-card-subtitle>
          Benefit from all the features
        </mat-card-subtitle>
      </mat-card-header>
      <h1><span>€ </span>39.99 <span>(monthly)</span></h1>
      <mat-card-content>
        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Subscribe up to <b>10</b> assets</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Real-time signals by email</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Real-time signals by SMS</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Automation with custom settings</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="warn" iconName="close_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Automation with pro-level settings</span>
        </div>
      </mat-card-content>
      <button (click)="onGetPlan('advanced')" mat-raised-button color="primary" type="submit">Get now</button>
    </mat-card>

    <mat-card class="inverse-fade-three">
      <mat-card-header>
        <mat-card-title>Premium
        </mat-card-title>
        <mat-card-subtitle>
          Unlock pro-level features
        </mat-card-subtitle>
      </mat-card-header>
      <h1><span>€ </span>69.99 <span>(monthly)</span></h1>
      <mat-card-content>
        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Subscribe up to <b>unlimited</b> assets</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Real-time signals by email</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Real-time signals by SMS</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Automation with custom settings</span>
        </div>

        <div class="benefit-item">
          <sycm-custom-icon color="accent" iconName="check_FILL1"></sycm-custom-icon>
          <span class="benefit-item">Automation with pro-level settings</span>
        </div>
      </mat-card-content>
      <button (click)="onGetPlan('premium')" mat-raised-button color="primary" type="submit">Get now</button>
    </mat-card>

  </div>
</div>
