mat-card  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 20px 20px;
  min-height: 380px;
  width: 300px;
}

mat-card-title {
  text-align: center;
}

mat-card-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

mat-card-content  {
  font-weight: lighter;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

img {
  margin: 30px 0 30px 0;
  width: 400px;
  filter: saturate(0.6);
}

#page-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

li {
  margin-bottom: 5px;
}

h1  {
  font-family: "Anta", sans-serif;
  margin-top: 0;
  bottom: 0;
  text-align: center;
}

@media (hover: hover) {
  .small {
    font-size: 2.5rem;
  }
  .big {
    font-size: 4rem;
  }
}

@media (hover: none) {
  .small {
    font-size: 1.6rem;
  }
  .big {
    font-size: 2.8rem;
  }
}

.text-container {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

@keyframes inverse-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inverse-fade-one {
  animation: inverse-fade 0.5s ease-in-out forwards;
}

.inverse-fade-two {
  animation: inverse-fade 1s ease-in-out forwards;
}

.inverse-fade-three {
  animation: inverse-fade 1.5s ease-in-out forwards;
}


#page-container {
  min-height: 700px;
}

span {
  line-height: 2;
  font-weight: lighter;
  font-size: 0.8rem;
}

span.benefit-item {
  margin-left: 10px;
}

div.benefit-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  margin-top: 30px;
  margin-bottom: 20px;
}
