#snack-bar  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: inverse-fade 0.25s ease-in-out forwards;
}

@keyframes inverse-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
