<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>

    <mat-nav-list>

      <div class="container">
        <mat-slide-toggle [disabled]="false" [checked]="isLightModeEnabled" id="lightModeToggle" color="accent"
                          (click)="onEnableLightMode()"></mat-slide-toggle>
        <div class="items">LIGHT MODE</div>
      </div>

      <mat-divider></mat-divider>

      <a (click)="onSelectPage('home'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">home</mat-icon>
          <div class="items">ABOUT</div>
        </div>
      </a>

      <a (click)="onSelectPage('signals'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">multiline_chart</mat-icon>
          <div class="items">SIGNALS</div>
        </div>
      </a>

      <a (click)="onSelectPage('backtesting'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">bar_chart</mat-icon>
          <div class="items">BACKTESTING</div>
        </div>
      </a>

      <a (click)="onSelectPage('trading-bot'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">adb</mat-icon>
          <div class="items">TRADING BOT</div>
        </div>
      </a>

      <a (click)="onSelectPage('pricing'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">euro_symbol</mat-icon>
          <div class="items">PRICING</div>
        </div>
      </a>
      <a (click)="onSelectPage('faq'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">speaker_notes</mat-icon>
          <div class="items">FAQ</div>
        </div>
      </a>

      <a (click)="onSelectPage('contact'); handsetState ? drawer.toggle() : ''" mat-list-item>
        <div class="container">
          <mat-icon class="nav-icon">alternate_email</mat-icon>
          <div class="items">CONTACT</div>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="titleBar">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <div class="horizontal-container" (click)="onSelectPage('home')">
        <sycm-app-icon class="icon" iconName="APP_ICON"></sycm-app-icon>
        <h1 [textContent]="(environment.app_name | titlecase) + '_'" id="title"></h1>
      </div>
      <div>
        @if (isHandset$ | async) {
          <mat-icon (click)="onSelectPage('dashboard')" class="account-icon">account_circle</mat-icon>
        } @else {
          @if (isLoggedInSubject$ | async) {
            <button (click)="onSelectPage('dashboard')" class="toolbar-button" mat-button>Dashboard</button>
          } @else {
            <button (click)="onSelectPage('dashboard')" class="toolbar-button" mat-button>Log In</button>
            <button (click)="onSelectPage('create-account')" class="toolbar-button" color="accent" mat-button>Sign Up
            </button>
          }
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
