
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  margin-bottom: 20px;
}

mat-icon {
  padding-top: 10px;
}

mat-nav-list {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.icon {
  margin-bottom: 30px;
  width: 50px;
}

.items {
  font-size: 10px;
  font-weight: lighter;
  margin-bottom: 5px;
}

@media (hover: none) {
  #title {
    font-family: "Anta", sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
  }
}

@media (hover: hover) {
  #title {
    font-family: "Anta", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
  }
}


#titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  font-size: 16px;
  margin-left: 5px;
}
