div.results-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#progress-block  {
  margin-top: 50px;
}

mat-progress-bar  {
  margin-top: 20px;
}
