<sycm-backtesting-settings-panel
  (settings)="launchBackTesting($event)">
</sycm-backtesting-settings-panel>
<!--<sycm-backtesting-results-panel></sycm-backtesting-results-panel>-->

<div class="results-block">

  @if (serverIsBusy) {
    <div id="progress-block">
      <span>Running backtesting... This may take up to a minute</span>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }

  @if (displayResultsBlocks) {
    @for (content of contents; track content) {
      <sycm-results-block [content]="content"></sycm-results-block>
    } @empty {
      <div>
        <p>No results to display</p>
      </div>
    }
  }

</div>
