mat-card {
  margin-bottom: 30px;
  width: 400px;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
}

div.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.classic-buttons  {
  margin-top: 25px;
  width: 300px;
}

