<div id="page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Service not available
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>We regret to inform you that our services are currently unavailable in your country due to legal reasons.
        Please stay tuned for updates on availability.
        Thank you for your understanding.</p>
      <p>
        In the interim, we encourage you to utilize our free <b>Backtesting</b> feature, granting you complete access to
        our trading simulation tool.
      </p>
    </mat-card-content>
  </mat-card>
</div>
