<div class="overlay">
  <div class="container">
    <sycm-app-icon class="icon custom-color" iconName="APP_ICON"></sycm-app-icon>
    <span [textContent]="(environment.app_name | titlecase)" class="app-title animate-cursor"
          id="title"></span>
  </div>
  <h1 class="inverse-fade-two">A powerful machine learning tool that deciphers the past to help you trade the
    future.</h1>
  <button (click)="onGetStared()" class="buttons" color="primary" mat-raised-button>Get started</button>
</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
