<div class="container">

  @if (swapTitles) {
    <sycm-big-colored-title [icon]="dualTitle.icon" [bigColoredTitle]="dualTitle.bigColoredTitle"></sycm-big-colored-title>
    <h1 class="inverse-fade-one small">{{ dualTitle.smallBlackTitle }}</h1>
  } @else {
    <h1 class="inverse-fade-one small">{{ dualTitle.smallBlackTitle }}</h1>
    <sycm-big-colored-title [bigColoredTitle]="dualTitle.bigColoredTitle"></sycm-big-colored-title>
  }

  <div class="inverse-fade-two">
    <p>{{ dualTitle.firstParagraph }}</p>
    <p>{{ dualTitle.secondParagraph }}</p>
  </div>
</div>
