// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/landing/landing-page/_landing-page.component-theme.scss' as landing;
@use './app/footer/_footer.component-theme.scss' as footer;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chartomancer-front-primary: mat.define-palette(mat.$orange-palette, 600);
$chartomancer-front-accent: mat.define-palette(mat.$teal-palette, 600);
$chartomancer-front-warn: mat.define-palette(mat.$red-palette, 900);

$chartomancer-front-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$chartomancer-front-typography: mat.define-typography-config();

$chartomancer-front-theme: mat.define-dark-theme((
  color: (
    primary: $chartomancer-front-primary,
    accent: $chartomancer-front-accent,
    warn: $chartomancer-front-warn,
  ),
  typography: $chartomancer-front-typography
));

$chartomancer-front-light-theme: mat.define-light-theme((
  color: (
    primary: $chartomancer-front-primary,
    accent: $chartomancer-front-accent,
    warn: $chartomancer-front-warn,
  )
));

// Apply the dark theme by default by using the basic themes below, which allow not te redefine typography in the light theme def above
@include mat.core-theme($chartomancer-front-theme);
@include mat.button-theme($chartomancer-front-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chartomancer-front-theme);
@include landing.background-color($chartomancer-front-theme);
@include footer.background-color($chartomancer-front-theme);


.lightMode {
  @include mat.all-component-themes($chartomancer-front-light-theme);
}

