<div id="page-container">
<mat-card>
  <mat-card-header>
    <mat-card-title>Syngleton Software Development
    </mat-card-title>
    <mat-card-subtitle>Located in Paris, France
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><a href="mailto:contact&#64;chartologist.syngleton.co">contact&#64;chartologist.syngleton.co</a></p>
    <p>This instance of the Chartologist application <b>is not intended for public use</b>, even if it mirrors core features of the production application.
You may only use it as part of my developer's portfolio, and cannot subscribe to any of its services.</p>
    <p>The front-end has been developed with <i>Angular 17</i> and <i>Angular Material</i>.
    The back-end has been developed with <i>Spring Boot 3</i> and <i>Java 19</i>.<br>
    Other notable technologies used: <i>Docker</i>, <i>MySQL</i>, <i>MongoDB</i>, <i>Hibernate</i>, <i>Spring Data JPA</i>, <i>Spring Security 6</i>, <i>Spring Cloud</i>, <i>Maven</i>, <i>IntelliJ IDEA</i>, <i>Mac OS X</i>.</p>
    <p><b>If you are interested by a coding job</b> (remotely or in the Paris, France area), please <b>contact me</b> using the link above.</p>
  </mat-card-content>
</mat-card>
</div>
