<mat-card>
  <mat-card-header>
    <mat-card-title>Syngleton Software Development
    </mat-card-title>
    <mat-card-subtitle>Located in Paris, France
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><a href="mailto:contact&#64;chartologist.syngleton.co">contact&#64;chartologist.syngleton.co</a></p>
    <p>This is demo version of Chartologitst's application that is not intended for public use.
You may only use it as part of my developer's portfolio.</p>
    <p>The front-end has been developed with Angular 17 and Angular Materials.
    The back-end has been developed with Spring Boot 3 and Java 19.
    Other notable technologies used: Docker, MySQL, MongoDB.</p>
    <p>If you are interested by a coding job (remotely or in the Paris, France area), please contact me using the link above.</p>
  </mat-card-content>
</mat-card>
