mat-card-content {
  font-weight: lighter;
  margin-top: 20px;
}

p {
  font-weight: lighter;
}

#page-container {
  min-height: 700px;
  margin-left: 50px;
  margin-right: 50px;
}


#title {
  margin: 10px 30px 10px 30px;
}

