<div id="page-container">

  <div id="title">
    <sycm-dual-title [dualTitle]="dualTitle"></sycm-dual-title>
  </div>

  <p>Please reach out at:</p>
  <p><a class="custom-color"
        href="mailto:contact&#64;chartologist.syngleton.co">contact&#64;chartologist.syngleton.co</a></p>
  <p><u>Important note</u>: this instance of Chartologist <b>is not intended for public use</b>, even if it mirrors core
    features of the production application.
    You may only use it as part of my developer's portfolio, and cannot subscribe to any of its services.</p>
  <p>The front-end has been developed with <i>Angular 17</i> and <i>Angular Material</i>.
    The back-end has been developed with <i>Spring Boot 3</i> and <i>Java 19</i>.<br>
    Other notable technologies used: <i>Docker</i>, <i>MySQL</i>, <i>MongoDB</i>, <i>Hibernate</i>, <i>Spring Data
      JPA</i>, <i>Spring Security 6</i>, <i>Spring Cloud</i>, <i>Maven</i>, <i>IntelliJ IDEA</i>, <i>Mac OS X</i>.</p>
  <p><b>If you are interested by a coding job</b> (remotely or in the Paris, France area), <b>contact me</b> using the
    link above.</p>

</div>
