<div class="text-container">
  <h1>Equip like a pro — trade like a machine.</h1>
</div>
<div id="page-elements">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Backtesting
      </mat-card-title>
      <mat-card-subtitle>
        Simulate trading strategies on historical data
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/chartologist black hole card.jpg" alt="Black Hole">
    <mat-card-content>
      <ul>
        <li>FREE!</li>
        <li>Run our tool on past charts</li>
        <li>Measure Chartologist's trading success</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Signals
      </mat-card-title>
      <mat-card-subtitle>
        Subscribe to real-time trading signals
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/chartologist trading signals card.jpg" alt="Trading Signals">
    <mat-card-content>
      <ul>
        <li>Receive signals directly in your inbox</li>
        <li>Get specific stop loss<br>and take profit instructions</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Trading bot
      </mat-card-title>
      <mat-card-subtitle>
        Automate your trading strategies
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/chartologist half-robot card.jpg" alt="Half-robot">
    <mat-card-content>
      <ul>
        <li>Devise your trading strategy</li>
        <li>Connect to your favorite exchange</li>
        <li>Let the bot trade for you</li>
      </ul>
    </mat-card-content>
  </mat-card>

</div>
